<!-- FOOTER -->
<section class="footer">
  <footer *ngIf="this.footer==1" class="pt-4  pt-md-5 border-top text-light">
    <div class="row d-flex">

      <div class="col-6 col-md">
        <img src="./assets/clubfitblanco.png" height="180px" width="220px" alt="">

      </div>
      <div class="col-6 col-md">
        <h5>Encontranos en</h5>
        <ul class="list-unstyled text-small">
          <div class="m-2">
            <a href="https://www.instagram.com/clubfit.ok/">
              <i class="fa fa-instagram igSmall" aria-hidden="true"></i>

              <div class="m-2">
                <a href="#">
                  <i class="fa fa-linkedin igSmall" aria-hidden="true"></i>
                </a>
              </div>
            </a>
          </div>


        </ul>
      </div>
      <div class="col-6 col-md ">
        <ul class="list-unstyled text-small ">

          <li class="mb-1" style="color: #a8a4a4;">Terms of use
            Privacy Environmental Policy</li>

          <small class="d-block mb-3 mt-1" style="color: #a8a4a4;">© 2023 ClubFit. Website Design By Fakeitor</small>
        </ul>
      </div>
    </div>
  </footer>



  <footer *ngIf="this.footer==2" class="p-4 d-flex flex-wrap py-3 my-4 border-top">

    <div class="row w-100">
      <div class="col-md-7 d-flex align-items-center">
        <img src="../../../assets/clubfit4.png" width="100px" height="100px" alt="">
        <span class="text-light" style="font-size: 17px; white-space: nowrap;">© 2023 Fakeitor Company, Inc</span>
      </div>
  
      <div class="col-md-4 d-flex p-5 justify-content-end align-items-end">
        <i class="fa fa-instagram ig" aria-hidden="true"></i>
      </div>
    </div>
  </footer>


</section>