<nav class="menu navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="logo pb-3">
      <img src="../../../../assets/clubfit2.png" routerLink="" height="70px" width="250px" alt="">
    </div>
    <button class="navbar-toggler" style="background-color: #b9b4b4;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-light mt-1">
        <i class="fas fa-bars" style="color:#000; font-size:27px;"></i>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="nav navbar-nav">
        <a class="m-2 text-decoration-none text-center" (click)="this.goToCoaching()">
          <i class="fa fa-home" aria-hidden="true"></i>
          Coaching online</a>
          <a class="m-2 text-decoration-none text-center" (click)="this.goToAboutMe()">
            <i class="fa fa-user" aria-hidden="true"></i>
            Quién soy?</a>
          <a class="m-2 text-decoration-none text-center" href="https://clubfit3.mitiendanube.com">
            <i class="fa fa-comments" aria-hidden="true"></i>
            Tienda</a>
          <a class="m-2 text-decoration-none text-center" (click)="this.goToBlog()">
            <i class="fa fa-file-text" aria-hidden="true"></i>
            Blogs</a>
          <a class="m-2 text-decoration-none text-center" (click)="this.goToFree()">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            Gratarola</a>

          <a class="m-2 text-center" href="https://harbizmanager.harbiz.io/checkout-form/clubfitok?product=invitation&lang=es">
              <strong>Acceso clientes</strong>
          </a>
         
      </div>
    </div>
  </div>
</nav>

<!--
<nav class="menu navbar navbar-expand-lg">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 justify-content-center align-items-center">
          <li class="nav-item">
            <div class="logo">
              <img src="../../../../assets/clubfit2.png" routerLink="" height="70px" width="250px" alt="">
          </div>
          </li>
          <li class="nav nav-item">
            <a class="m-2 text-decoration-none" (click)="this.goToCoaching()">
              <i class="fa fa-home" aria-hidden="true"></i>
              Coaching online</a>
          </li>
          <li class="nav nav-item">
            <a class="m-2 text-decoration-none" (click)="this.goToAboutMe()">
              <i class="fa fa-user" aria-hidden="true"></i>
              Quién soy?</a>
          </li>
          <li class="nav nav-item">
            <a class="m-2 text-decoration-none" href="https://clubfit3.mitiendanube.com">
              <i class="fa fa-comments" aria-hidden="true"></i>
              Tienda</a>
          </li>
          <li class="nav nav-item">
            <a class="m-2 text-decoration-none" (click)="this.goToBlog()">
              <i class="fa fa-file-text" aria-hidden="true"></i>
              Blogs</a>
   
          </li>
          <li class="nav nav-item">
            <a class="m-2 text-decoration-none" (click)="this.goToFree()">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              Gratarola</a>
          </li>

        </ul>
        <div class="social">
          <div class="m-2">
              <a style="margin-left: 50px;" href="https://harbizmanager.harbiz.io/checkout-form/clubfitok?product=invitation&lang=es">
                  <strong>Acceso clientes</strong>
              </a>
          </div>
      
         
      </div>
      </div>
    </div>
  </nav>

  -->
<!--
<div class="menu">
    <div class="logo">
        <img src="../../../../assets/clubfit2.png" routerLink="" height="70px" width="250px" alt="">
    </div>
    <nav class="nav">
        <a class="m-2 text-decoration-none" (click)="this.goToCoaching()">
            <i class="fa fa-home" aria-hidden="true"></i>
            Coaching online</a>
        <a class="m-2 text-decoration-none" (click)="this.goToAboutMe()">
            <i class="fa fa-user" aria-hidden="true"></i>
            Quién soy?</a>
        <a class="m-2 text-decoration-none" href="https://clubfit3.mitiendanube.com">
            <i class="fa fa-comments" aria-hidden="true"></i>
            Tienda</a>
        <a class="m-2 text-decoration-none" (click)="this.goToBlog()">
            <i class="fa fa-file-text" aria-hidden="true"></i>
            Blogs</a>
        <a class="m-2 text-decoration-none" (click)="this.goToFree()">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            Gratarola</a>

    </nav>
    <div class="social">
        <div class="m-2">
            <a href="https://harbizmanager.harbiz.io/checkout-form/clubfitok?product=invitation&lang=es">
                <strong>Acceso clientes</strong>
            </a>
        </div>
    
       
    </div>
</div>
-->