<app-header></app-header>
<div  class="training">
    <!--SECTION VIDEO-->
<section>

    <div class="contVideo">
        <h1 class="text-light">Entrenamiento</h1>

        <div class="video">
            <iframe width="560" height="315" 
            src="https://www.youtube.com/embed/_9bw_VtMUGA?si=hCRyXdwx7vTyt7Sh" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
             allowfullscreen>
    
            </iframe>
        </div>
    </div>
</section>
</div>

<div class="hipthrust">
<section class="nutrition">

    <div class="row  mt-5">
        <div class="col-6 d-flex justify-content-end">
            <img src="../../../assets/nutrition.png"  height="180px" width="250px" alt="">
        </div>
        <div class="col-6 justify-content-start" >
                <h2  class="title">ESTE PROGRAMA ES PARA VOS SI:</h2>
                <ul>
                    <li>Querés elevar tu bienestar y condición física al siguiente nivel, pero sin
                        sudar la gota gorda en el intento.</li>
                    <li>Te ilusiona lograr una transformación física constante y duradera
                        mientras disfrutás del proceso.</li>
                    <li>Valorás la disciplina y la constancia, aunque a veces necesites un
                        empujón extra de conocimiento y apoyo.</li>
                    <li>
                        Querés incorporar el fitness como un componente esencial de tu vida
                        cotidiana sin que sea una tarea tediosa.
                    </li>
                    <li>
                        Aspirás a adquirir conocimientos sólidos sobre entrenamiento y nutrición
                        para alcanzar tus metas de manera efectiva.
                    </li>
                    <li>
                        Necesitás una mano para estructurar tu rutina de entrenamiento y plan
                        nutricional porque, ¡a quién no le vendría bien un poco de orden en su
                        vida?
                    </li>
                    <li>
                        Preferís una aplicación que sea tu aliada y no tu enemiga, porque la vida
                        ya tiene suficientes complicaciones.
                    </li>
                  </ul>
        </div>
    </div>

</section>

<section class="plan-training">

    <div class="row  mt-5">
        <div class="col-6 d-flex justify-content-end">
            <img src="../../../assets/manWoman.png" height="180px" width="250px" alt="">
        </div>
        <div class="col-6 justify-content-start">
            <h2  class="title">ESTE PROGRAMA NO ES PARA VOS SI:</h2>
            <ul>
                <li>
                    Esperás resultados inmediatos sin levantarte del sillón, como encontrar el
                    control remoto sin levantarte del sofá.
                </li>
                <li>
                    Preferís no cambiar nada en tu vida actual y crees que el cambio viene
                    solo.
                </li>
                <li>
                    No te gusta la idea de recibir atención personalizada y preferís perderte
                    en la multitud.
                </li>
                <li>
                    Crees que las recomendaciones sobre entrenamiento y nutrición son solo
                    sugerencias y no le prestás mucha atención. 
                </li>
                <li>
                    Querés un programa que solo se centre en el ejercicio, como esos días
                    que intentás hacer dieta solo comiendo lechuga.
                </li>
                <li>
                    Creés que las aplicaciones solo complican las cosas y preferís métodos
                    más tradicionales, como intentar doblar un mapa mientras manejás.
                </li>
                <li>
                    Pensás que una sola estrategia sirve para todos, pero la vida es más
                    como elegir entre diferentes destinos de vacaciones y ¡vos querés
                    disfrutar de todos los lugares posibles!
                </li>
              </ul>
        </div>
    </div>

</section>
</div>

<!-- SECTION PREGUNTAS -->
<section class="faq">

    <div class="row d-flex">
        <div class="p-4 col d-flex justify-content-center text-center text-light">
            <h2>Preguntas Frecuentes</h2>
        </div>
    </div>
  
    <div class="row rowQ d-flex faq-section">
  
        <div class="imgQ col-md-5 d-flex">
            <img src="./assets/question.jpeg" alt="">
        </div>
  
        <div class="colQ col-md-6 d-flex lista">
          <div class="faq-list">
            <div *ngFor="let faqItem of faqItems; let i = index" class="faq-list-item">
              <div class="faq-question" (click)="toggleAnswer(i)">
                <span class="arrow m-2" [class.expanded]="faqItem.expanded">
                    <i *ngIf="!faqItem.expanded" class="fas fa-arrow-right"></i>
                    <i *ngIf="faqItem.expanded" class="fas fa-arrow-up"></i>
                  </span>
                {{ faqItem.question }}  
            
              </div>
              <div class="faq-answer text-light" *ngIf="faqItem.expanded">
                {{ faqItem.answer }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row d-flex">
        <div class="m-5 p-4 col d-flex justify-content-center text-center text-light">
            <h2>¡Listo para rockear? Ahora sí, ¡a darle con todo!</h2>
        </div>
    </div>
  
</section>

 <!-- SECTION TESTIMONIOS-->

 <section class="testimonies-section">
    <div class="row d-flex align-items-center">
        
        <div class="col-12 justify-content-center text-center">
            <h2 class="text-light fs-1 mt-3">Testimonios</h2>
        </div>
  
    </div>
  
    <div class="row mt-2 d-flex">
        <div class="col-6 testimony">
            <h4 class="name mt-2">Gustavo Guinle:</h4>
            <p class="content mt-3">¡Excelente servicio! Estoy muy satisfecho con los resultados.</p>
            <div class="stars">★★★★★</div>
          </div>
  
    </div>
  
    <div class="row mt-2 d-flex">   
        <div class="col-6 testimony">
            <h4 class="name mt-2">Luciano Giovetti:</h4>
            <p class="content mt-3">Increíble experiencia. Recomiendo encarecidamente.</p>
            <div class="stars">★★★★★</div>
          </div>
    </div>
  
    <div class="row mt-2 d-flex">
        <div class="col-6 testimony">
            <h4 class="name mt-2">Federico Cisneros:</h4>
            <p class="content mt-3">Buen profe Alejo.</p>
            <div class="stars">★★★☆☆</div>
          </div>
    </div>
  
   </section>
  



<app-footer></app-footer>