
<section class="back">
<div class="row  d-flex text-center justify-content-center text-light">

    <div class="col-12 mt-4">
        <h2 class="m-3">¿Estás listo?</h2>

        <h4 class="m-3">Mi objetivo es que cambies tu cuerpo, lo que va a llevar a que cambies tu estilo de vida, lo
            que va a llevar que mejores tu calidad de vida.
        </h4>

    </div>
</div>

<div class="row d-flex text-center justify-content-center text-light">
<div class="col-xl-10 col-lg-12 col-md-12 col-sm-12 col-12">
    <button class="m-4 miBtn" (click)="this.goToCoachingOnline()">Empezar mi transformación</button>
</div>
</div>
</section>