<app-header></app-header>


<section class="free">


    <div class="row">

        <div class="col-6 d-flex justify-content-end align-items-center">
            <h2 class="text-light">Gratarola</h2>
        </div>

        <div class="col-6">

            <img src="../../../assets/ale2.png" alt="">
        </div>
    </div>
    

</section>

<!--BOTON 2-->
<section class="back">
    <div class="row  d-flex text-center justify-content-center text-light">
    
        <div class="col-10 mt-4">
            <h4 class="m-3">
                Consigue unos glúteos firmes y esculpidos con mi ebook gratuito!
                 Descárgalo ahora para acceder a entrenamientos efectivos, 
                consejos de nutrición y secretos para potenciar tus resultados.
            </h4>
    
        </div>
    </div>
    
    <div class="row d-flex text-center justify-content-center text-light">
    <div class="col-xl-10 col-lg-12 col-md-12 col-sm-12 col-12">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdDbC4JDmvNzLK3M-tpOfEPojQAWKmbs03gbmJEaaGFvoCaRQ/viewform?usp=sf_link">
        <button class="m-4 miBtn">
            Empezar </button>
        </a>
    </div>
    </div>
    </section>


<!--BOTON 3-->
<section class="back">
    <div class="row  d-flex text-center justify-content-center text-light">
    
        <div class="col-10 mt-4">  
            <h4 class="m-3">
                ¡Descubre el camino hacia una transformación real con mi clase gratuita! 
                Aprende cómo perder 6 kg de grasa en 6 semanas sin pasar hambre.
                 ¡No te pierdas esta oportunidad para alcanzar un cuerpo más saludable y sentirte increíble!
            </h4>
    
        </div>
    </div>
    
    <div class="row d-flex text-center justify-content-center text-light">
    <div class="col-xl-10 col-lg-12 col-md-12 col-sm-12 col-12">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdDbC4JDmvNzLK3M-tpOfEPojQAWKmbs03gbmJEaaGFvoCaRQ/viewform?usp=sf_link">
        <button class="m-4 miBtn">
            Empezar </button>
        </a>
    </div>
    </div>
    </section>




<app-areyouready></app-areyouready>
<app-footer></app-footer>
