<app-header></app-header>


<section class="free">


    <div class="row">

        <div class="col-6 d-flex justify-content-end align-items-center">
            <h2 class="text-light">Gratarola</h2>
        </div>

        <div class="col-6">

            <img src="../../../assets/ale2.png" alt="">
        </div>
    </div>
    

</section>


<section class="back">
    <div class="row  d-flex text-center justify-content-center text-light">
    
        <div class="col-12 mt-4">
            <h2 class="m-3">¿Estás listo?</h2>
    
            <h4 class="m-3">Mi objetivo es que cambies tu cuerpo, lo que va a llevar a que cambies tu estilo de vida, lo
                que va a llevar que mejores tu calidad de vida.
            </h4>
    
        </div>
    </div>
    
    <div class="row d-flex text-center justify-content-center text-light">
    <div class="col-xl-10 col-lg-12 col-md-12 col-sm-12 col-12">
        <button class="m-4 miBtn">Empezar mi transformación</button>
    </div>
    </div>
    </section>

    
<section class="back">
    <div class="row  d-flex text-center justify-content-center text-light">
    
        <div class="col-12 mt-4">
            <h2 class="m-3">¿Estás listo?</h2>
    
            <h4 class="m-3">Mi objetivo es que cambies tu cuerpo, lo que va a llevar a que cambies tu estilo de vida, lo
                que va a llevar que mejores tu calidad de vida.
            </h4>
    
        </div>
    </div>
    
    <div class="row d-flex text-center justify-content-center text-light">
    <div class="col-xl-10 col-lg-12 col-md-12 col-sm-12 col-12"><button class="m-4 miBtn" >
        <a href="https://drive.google.com/drive/u/0/folders/1-7SkaddqM1YVVhcDORqUfZkm-BhbCw9z">

        </a>
    </button>
        
        


    </div>
    </div>
    </section>



<app-areyouready></app-areyouready>
<app-footer></app-footer>
