<app-header></app-header>

<section class="sectionBlogs">
    <div class="blogs">
        <article class="blog">
            <img src="../../../assets/gym.png" alt="">
            <h3>Blog 5</h3>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni lab,
                repudiandae alias delectus veritatis quis debitis repellendus.
            </p>
    
        </article>
        <article class="blog">
            <img src="../../../assets/gym.png"  alt="">
            <h3>Blog 6</h3>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni lab,
                repudiandae alias delectus veritatis quis debitis repellendus.
            </p>
    
        </article>


        <article class="blog">
            <a href="https://clubfitok.blogspot.com/2023/04/el-entrenamiento-de-fuerza-y-su-impacto.html">
            <img src="../../../assets/blogs/blog1.png"   alt="">
            <h3>Como un entrenamiento de glúteos mejora el sexo</h3>
            <p>
                El entrenamiento de fuerza puede tener muchos beneficios para la salud,
                incluida la mejora de la salud sexual de las mujeres.
            </p>
            </a>
        </article>
        <article class="blog">
            <a href="https://clubfitok.blogspot.com/2023/04/la-guia-definitiva-de-la-recomposicion.html">
            <img src="../../../assets/blogs/blog2.png"    alt="">
            <h3>PERDÉ GRASA Y GANÁ MÚSCULO SIN DIETA EXTREMA NI HORAS DE CARDIO</h3>
            <p>
                El objetivo principal de la recomposición corporal 
                es perder grasa y ganar músculo al mismo tiempo.
            </p>
            </a>
        </article>
        <article class="blog">
            <a href="https://clubfitok.blogspot.com/2023/04/entrenamiento-de-fuerza-para-mujeres.html">
            <img src="../../../assets/blogs/blog3.png"  alt="">
            <h3>Descubrí cómo el entrenamiento de glúteos puede mejorar la salud de tu suelo pélvico</h3>
            <p>
                El suelo pélvico es un conjunto de músculos y tejidos que sostiene 
                los órganos pélvicos en su lugar y ayuda a controlar la vejiga, el recto y la actividad sexual.
            </p>
        </a>
        </article>
        <article class="blog">
            <a href="https://clubfitok.blogspot.com/2023/04/5-consejos-para-mejorar-el-descanso.html">
            <img src="../../../assets/blogs/blog4.png"   alt="">
            <h3>5 CONSEJOS PARA MEJORAR EL DESCANSO</h3>
            <p>
                Dormir bien es esencial para mantener una buena salud física y mental,
                 y aunque muchas veces nos cueste encontrar el tiempo para dormir las horas necesarias.
            </p>
        </a>
        </article>
     

    </div>
    <aside class="aside">
        <div class="publicity">
            <h2>Publicity 1</h2>
            <img src="../../../assets/publicity/coca.jpg" alt="">
        </div>
        <div class="publicity">
            <h2>Publicity 2</h2>   
            <img src="../../../assets/publicity/megadibu.jpg" alt=""> 
        </div>
        <div class="publicity">
            <h2>Publicity 3</h2>
            <img src="../../../assets/publicity/federacion.jpg" alt=""> 
        </div>
    </aside>
</section>

<div class="footer">
    <app-footer [footer]="2"></app-footer>
</div>
  

