a {
    text-decoration: none; /* Elimina el subrayado */
    color: #333;           /* Cambia el color del texto, puedes usar el valor que desees */
}


.blog:hover {
    background-color: #333;
    color: #fff;
}

.blog:hover h3,.blog:hover p {
    color: #fff;  /* Cambia el color del texto al pasar el mouse sobre el artículo */
}




.sectionBlogs{
    display: flex;
    justify-content: space-between;
}
.blogs{
    background: #fff;
    flex: 3 1 65%;
    margin: 5px;
    display: flex;
    flex-flow: row wrap;

}
.blog{
    flex:1 1 45%;
    font-size: 10px;
    letter-spacing: 1px;
    text-align: center;
    margin: 10px 10px 0 0px;
    background-color: #ececec;
}

.blog img{
    padding:5px;
    width: 100%;
    height: 300px;
}

.aside{
    flex: 1 1 30%;
    display: flex;
    flex-flow: row wrap;
    margin: 10px 5px 10px 0px;
    overflow: hidden; 
}

.publicity img{
    width: 100%;
    margin: auto;
    object-fit: contain;
}

h2{
    background-color: #000;
    color:#fff;
    padding:10px;
    text-transform: uppercase;
}

.publicity{
    text-align: center;
    display: flex;
    flex-direction: column;
}

@media all and (max-width:900px){
    .sectionBlogs{
        flex-direction: column;
    }
    .aside{
        justify-content: center;
        flex-direction: row;
    }
}

@media all and (max-width:700px){

    .blogs{
        flex-direction: column;
    }
    .aside{
        justify-content: center;
        flex-direction: column;
    }

}

article:hover{
    cursor: pointer;
}