<app-header></app-header>

<section class="sectionBlogs">
    <div class="blogs">
        <article class="blog">
            <img src="../../../assets/gym.png"   alt="">
            <h3>Blog 1</h3>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni lab,
                repudiandae alias delectus veritatis quis debitis repellendus.
            </p>
        </article>
        <article class="blog">
            <img src="../../../assets/gym.png"    alt="">
            <h3>Blog 2</h3>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni lab,
                repudiandae alias delectus veritatis quis debitis repellendus.
            </p>
          
        </article>
        <article class="blog">
            <img src="../../../assets/gym.png" alt="">
            <h3>Blog 3</h3>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni lab,
                repudiandae alias delectus veritatis quis debitis repellendus.
            </p>
          
        </article>
        <article class="blog">
            <img src="../../../assets/gym.png"  alt="">
            <h3>Blog 4</h3>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni lab,
                repudiandae alias delectus veritatis quis debitis repellendus.
            </p>
    
        </article>
        <article class="blog">
            <img src="../../../assets/gym.png" alt="">
            <h3>Blog 5</h3>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni lab,
                repudiandae alias delectus veritatis quis debitis repellendus.
            </p>
    
        </article>
        <article class="blog">
            <img src="../../../assets/gym.png"  alt="">
            <h3>Blog 6</h3>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni lab,
                repudiandae alias delectus veritatis quis debitis repellendus.
            </p>
    
        </article>

    </div>
    <aside class="aside">
        <div class="publicity">
            <h2>Publicity 1</h2>
            <img src="../../../assets/publicity/coca.jpg" alt="">
        </div>
        <div class="publicity">
            <h2>Publicity 2</h2>   
            <img src="../../../assets/publicity/megadibu.jpg" alt=""> 
        </div>
        <div class="publicity">
            <h2>Publicity 3</h2>
            <img src="../../../assets/publicity/federacion.jpg" alt=""> 
        </div>
    </aside>
</section>

<div class="footer">
    <app-footer [footer]="2"></app-footer>
</div>
  

