

.header{
    background: url(../../../assets/gym.png);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    height: auto;
}

a{
    text-decoration: none;
}

nav a:active{
    transform: scale(0.8);
}

a i:active{
    transform: scale(0.7);
}

.nav{

    flex: 4 1 auto;
}
    nav a{
        color:#fff;
        font-size: 12px;
        text-transform: uppercase;
        padding: 0 10px;
        letter-spacing: 2px;
    }
    .nav a:hover{
        color:#cd0d69;
    }


.imgAle{
    display: flex;
    flex-direction: column;
    margin-right: 8px;
    width: 500px;
} 

.imgAle img{
    margin-top: auto !important;
    align-self: flex-start;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Añade una sombra alrededor de la imagen */
}

.principal-text{
    color:#ad1267;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end !important;
    -webkit-text-stroke: 2px black;
}

.large-text{
    font-size: 22px; 
    color:#fff;
}

h1{
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    line-height: 1.6;
}
.intro{
    background-color: #cd0d69;
    -webkit-text-stroke: 2px black;
}
.examples{
    justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      background-color: #051125;
      padding: 50px;
}


.examples .col {

    margin-bottom: 10px;
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}

.row{
    text-align: center;
    align-items: center;
    justify-content: center;

}


.section-videos{
    background-color: #051125;
    height: 760px;
    border: 2px solid #ad1267;
}

.videos{
    height: 760px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}
.video-container{
    width: 100%;
    height: 550px;
    margin-bottom:5px;
}
.video-container iframe {
    width: 100%;
    height: 100%;
}

.miVideo{
    border: 2px solid #ad1267;


}



#contador-section{
    background-color: #051125;

    
}

.contador{
    border: 5px solid #cd0d69;
    line-height: 2; /* Esto establece un interlineado doble */
    padding: 10px;
}
.miCard{
    background-color: #cd0d69;
    margin: 5px;
    color:#fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    border: 1px solid #fff;
    line-height: 2; /* Esto establece un interlineado doble */
    padding: 10px; 
    font-weight: bold;
}

.miBtn{
    height: auto;
    background-color: #cd0d69;
    color:#fff;
    width: 100%;

    font-size: 30px;
}

.miBtn:hover{
    background-color: #ad1267;
    color: #051125;
    -webkit-text-stroke: 1px #051125;
}



.rowQ{
    align-items: start;
    justify-content: start;
    text-align: start;

}

.colQ{

    margin-top: 20px;
    border: 3px solid #051125;
    padding: 10px;
}

.imgQ{
    background-color: #fff;
    max-width: 100%; 
}
.imgQ img{
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    max-width: 100%; 
    height: auto; 
    
}

.question-toggle {
    text-decoration: none;
    font-weight: bold;
    background-color: #8f9092;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 20px;
  }

  .question{
    color: #ad1267;

  }
  
  .question-toggle:hover {
    color:#fff;
  }
  
  .icon {
    font-size: 16px;
  }
.answer {
    display: none;
    margin-top: 10px;
    font-size: 20px;

  }
  
  .answer.active {
    display: block;
  }


.faq{
    background-color: #051125;
}

.faq-section {
    margin: 0 auto;
  }
  
  .faq-list {
    list-style: none;
    padding: 0;
  }
  
  .faq-list li {
    margin-bottom: 10px;
  }
  
  .faq-list a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    display: block;
    cursor: pointer;
  }
  




/*
#cd0d69 (PRINCIPAL)
#051125 (PRINCIPAL)
#ad1267 (SECUNDARIO)
#ffffff (BLANCO)
#ff0f7b (TERCERA OPCIÓN)
*/

@media all and (max-width:1199px){

    .header{
        height: auto;
    }
}



@media all and (max-width:1085px){
    .nope{
        padding: 90px;
        width: 400px;
        margin: 30px;
        font-size: 40px;
    }
    .miBtn{
        font-size: 40px;
        height: 90px;
    }
    .header{
        height: auto;
    }

}

@media all and (max-width:558px){

    .nav{
        flex-direction: column;
        height: auto;
    }

    .nav a{
        font-size: 60px;
        border-bottom: 1px solid #fff;
    }

    .nope{

        font-size: 30px;
 
    }
    .header{
        height: auto;
    }

    
}