<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="check2" viewBox="0 0 16 16">
      <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
    </symbol>
    <symbol id="circle-half" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"></path>
    </symbol>
    <symbol id="moon-stars-fill" viewBox="0 0 16 16">
      <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"></path>
      <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"></path>
    </symbol>
    <symbol id="sun-fill" viewBox="0 0 16 16">
      <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"></path>
    </symbol>
  </svg>



  
<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
<symbol id="check" viewBox="0 0 16 16">
  <title>Check</title>
  <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
</symbol>
</svg>

<div> 

<!-- SECTION HEADER -->
  <header class="header">
      

    <app-header></app-header>

      <div class="principal-text row">
        <div class="imgAle col-3 mr-4">
          <img src="../../../assets/ale2.png" alt="">
        </div>
        <div class="col-6 align-self-center">
            <h1 style="font-size: 40px;">
            <strong>  Bienvenido a Club Fit!</strong>
              <br>
              El lugar donde desentrañamos el quilombo de
  
              información sin boludeces FIT.
            </h1>
        </div>
      </div>

   
  </header>

<!-- SECTION EXAMPLES -->

<section class="examples d-flex">

  <div class="row d-flex">   

      <div class="intro col d-flex">
       <h1 class="large-text">
        <strong>
        En este rincón de salud y buen humor, te proporcionamos las herramientas
        respaldadas por la ciencia para que transformes tu cuerpo y tu mente, todo
        mientras te divertís más que en un asado con amigos.
        No importa que quieras tener las curvas de Marilyn Monroe o la espalda del
        Capitán América, porque acá no juzgamos, Si buscás tener el porte de un
        modelo de pasarela o simplemente querés levantar las bolsas de compras sin
        problemas, Club Fit - Body Fit te tiene cubierto.
        Como maestro de los planes de nutrición y entren  amiento, estoy acá para
        guiarte hacia los resultados óptimos sin hacer que odies cada minuto del
        proceso.
        Este programa no es un desfile de sacrificios. Nada de cardio hasta desfallecer ni
        dietas que te hagan extrañar ese asado del domingo.
        Con mi enfoque único y métodos comprobados, he tenido la suerte de ayudar a
        un montón de gente a transformar sus vidas. ¿Y adiviná qué? Vos también
        podés ser parte de esa historia de éxito.
        
        Así que, si estás lista/o para un cambio que no te haga renunciar a la pizza y
        encima te saque una sonrisa, Club Fit - Body Fit es tu lugar.
        ¡Sumate y descubrí cómo alcanzar
      </strong>
       </h1>
      </div>

  </div>


  <div class="row d-flex">

      <div class="nope col-xl-2 col-lg-8 col-md-8 col-sm-8 col-8 d-flex align-items-center justify-content-center">

          Los carbohidratos son el enemigo
      </div>
      <div class="nope col-xl-2 col-lg-8 col-md-8 col-sm-8 col-8 d-flex align-items-center justify-content-center">
      Tenes que cortar con el azucar
      </div>
      <div class="nope col-xl-2 col-lg-8 col-md-8 col-sm-8 col-8 d-flex align-items-center justify-content-center">
      El ayuno quema grasa
      </div>
      
      <div class="nope col-xl-2 col-lg-8 col-md-8 col-sm-8 col-8 d-flex align-items-center justify-content-center">
      La fruta engorda
      </div>
      
      <div class="nope col-xl-2 col-lg-8 col-md-8 col-sm-8 col-8 d-flex align-items-center justify-content-center">
      Necesitas tomar suplementos
      </div>     
  </div> 

</section>



<!-- SECTION PRICING -->
<section class="pricing-section minMargen">
<main>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Free</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$0<small class="text-body-secondary fw-light">/mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>10 users included</li>
            <li>2 GB of storage</li>
            <li>Email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="cardPro text-light py-3">
          <h4 class="my-0 fw-normal">Pro</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$15<small class="text-body-secondary fw-light">/mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>20 users included</li>
            <li>10 GB of storage</li>
            <li>Priority email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="cardAdvance text-light ard-header py-3">
          <h4 class="my-0 fw-normal">Enterprise</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$29<small class="text-body-secondary fw-light">/mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>30 users included</li>
            <li>15 GB of storage</li>
            <li>Phone and email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
        </div>
      </div>
    </div>
  </div>

  <h2 class="display-6 text-center mb-4 text-light fs-1">Elige tu plan</h2>

  <div class="table-responsive">
    <table class="table text-center">
      <thead>
        <tr>
          <th style="width: 34%;"></th>
          <th style="width: 22%;">Free</th>
          <th style="width: 22%;">Pro</th>
          <th style="width: 22%;">Enterprise</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="text-start">Plan de entrenamiento</th>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Plan de nutrición</th>
          <td></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
        </tr>
      </tbody>

      <tbody>
        <tr>
          <th scope="row" class="text-start">Seguimiento personalizado</th>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Entrenamiento personalizado</th>
          <td></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Entrenamiento por App</th>
          <td></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Videos tutoriales de cada ejercicio</th>
          <td></td>
          <td></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Devoluciones de técnica de cada ejercicio</th>
          <td></td>
          <td></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Material educativo de entrenamiento</th>
          <td></td>
          <td></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Planillas de nutrición</th>
          <td></td>
          <td></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
        </tr>

        <tr>
          <th scope="row" class="text-start">Objetivos iniciales de nutrición personalizados</th>
          <td></td>
          <td></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Material educativo de nutrición</th>
          <td></td>
          <td></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Zoom semanal contestando preguntas</th>
          <td></td>
          <td></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
</section>

<!-- SECTION VIDEOS -->


<section class="section-videos">

  <div class="row d-flex mt-3">
      <div class="col-12 d-flex justify-content-center align-items-center">
          <h2 class="text-center text-light m-2 p-2">Videos</h2>
      </div>
  </div>

  <div class="videos row d-flex align-items-start justify-content-center m-3">

          <div class="miVideo col-3 m-3 d-flex card bg-light mb-3" style="max-width: 21rem;">
              <div class="card-header fs-4">10 ejercicios de piernas</div>
              
              <div class="video-container d-flex">
                  <iframe class="iframe" src="https://www.instagram.com/p/Cq58b64Jfkf/embed" width="800" height="700" frameborder="0"></iframe>
              </div>
  
          </div>

          <div class="miVideo col-3 m-3 card bg-light mb-3" style="max-width: 21rem; max-height: 50rem;">
              <div class="card-header fs-4">10 ejercicios de gluteos</div>
              <div class="video-container">
                  <iframe src="https://www.instagram.com/p/Cq58b64Jfkf/embed" width="800" height="700" frameborder="0"></iframe>
              </div>
  
          </div>

          <div class="miVideo col-3 m-3 card bg-light mb-3" style="max-width: 21rem;">
              <div class="card-header fs-4">10 ejercicios de pecho</div>
              <div class="video-container">
                  <iframe src="https://www.instagram.com/p/Cq58b64Jfkf/embed" width="800" height="700" frameborder="0"></iframe>
              </div>
  
          </div>

  </div>

</section>



<!-- SECTION CONTADOR -->

<section class="contador" id="contador-section">

<div class="row d-flex text-light">
  <div class="col text-center mt-3">
      <h2>Próxima fecha de inicio</h2>
      <h3 id="fecha-inicio">08/01/2024</h3>
  </div>
</div>
<div class="row d-flex p-4">

  <div class="miCard col-xl-2 col-lg-8 col-md-8 col-sm-8 col-8  d-flex">
    <span><span >{{this.days}}</span> Días</span>
  </div>
  <div class="miCard col-xl-2 col-lg-8 col-md-8 col-sm-8 col-8  d-flex text-align-center">  

      <span> <span >{{this.hours}}</span> Horas</span>
  </div>
  <div class="miCard col-xl-2 col-lg-8 col-md-8 col-sm-8 col-8  d-flex">  
      <span> <span>{{this.minutes}}</span> Minutos</span>
  </div>
  <div class="miCard col-xl-2 col-lg-8 col-md-8 col-sm-8 col-8  d-flex">  
      <span> <span>{{this.seconds}}</span> Segundos</span>
  </div>
</div>

<div class="row d-flex p-4">

  <div class="d-flex col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
  <button class="miBtn">Inscribirse</button>
  </div>


</div>






</section>


<!-- SECTION PREGUNTAS -->
<section class="faq text-light">

  <div class="row d-flex">
      <div class="p-4 col d-flex justify-content-center text-center">
          <h2>Preguntas Frecuentes</h2>
      </div>
  </div>

  <div class="row rowQ d-flex faq-section">

      <div class="imgQ col-5 d-flex">
          <img src="./assets/question.jpeg" alt="">
          
      </div>

      <div class="colQ col-5 d-flex" *ngFor="let faqItem of faqItems; let i = index" class="faq-item">
        <div class="faq-question" (click)="toggleAnswer(i)">
          {{ faqItem.question }}  
          <span class="arrow" [class.expanded]="faqItem.expanded">
            <i *ngIf="!faqItem.expanded" class="fas fa-arrow-right"></i>
            <i *ngIf="faqItem.expanded" class="fas fa-arrow-up"></i>
          </span>
        </div>
        <div class="faq-answer" *ngIf="faqItem.expanded">
          {{ faqItem.answer }}
        </div>
      </div>
  
     
    </div>

</section>


 <!-- SECTION TESTIMONIOS-->

 <section class="testimonies-section">
  <div class="row d-flex align-items-center">
      
      <div class="col-12 justify-content-center text-center">
          <h2 class="text-light fs-1 mt-3">Testimonios</h2>
      </div>

  </div>

  <div class="row mt-2 d-flex">
      <div class="col-6 testimony">
          <h4 class="name mt-2">Gustavo Guinle:</h4>
          <p class="content mt-3">¡Excelente servicio! Estoy muy satisfecho con los resultados.</p>
          <div class="stars">★★★★★</div>
        </div>

  </div>

  <div class="row mt-2 d-flex">   
      <div class="col-6 testimony">
          <h4 class="name mt-2">Luciano Giovetti:</h4>
          <p class="content mt-3">Increíble experiencia. Recomiendo encarecidamente.</p>
          <div class="stars">★★★★★</div>
        </div>
  </div>

  <div class="row mt-2 d-flex">
      <div class="col-6 testimony">
          <h4 class="name mt-2">Federico Cisneros:</h4>
          <p class="content mt-3">Buen profe Alejo.</p>
          <div class="stars">★★★☆☆</div>
        </div>
  </div>





 </section>


<!-- FOOTER -->
<footer class="pt-4  pt-md-5 border-top text-light">
  <div class="row d-flex">

    <div class="col-6 col-md">
      <h5>Features</h5>
        <img src="./assets/clubfitblanco.png"  height="180px" width="220px" alt="">
 
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another resource</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Final resource</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Encontranos en</h5>
      <ul class="list-unstyled text-small">
        <div class="m-2">
          <a href="https://www.instagram.com/clubfit.ok/">
          <i class="fa fa-instagram" aria-hidden="true"></i>
          
      </a>
      </div>
      <div class="m-2">
          
      <i class="fa fa-twitter" aria-hidden="true"></i>
          
      </div>
      <div class="m-2">
          <a href="#">
           <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
      </div>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
        <span>Desarrollado por Facundo Rocha</span>
        <small class="d-block mb-3">© 2023</small>
      </ul>
    </div>
  </div>
</footer>
</div>
