/* You can add global styles to this file, and also import other style files */

body{
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-color: #051125;
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    overflow-x: hidden;

    filter:drop-shadow(8px 8px 12px black);
}

img {
    max-width: 100%;
    height: auto;
  }

  footer{
    background-color: #051125;
  }
  .tooltip-example {
    text-align: center;
    padding: 0 50px;
  }
  .tooltip-example [tooltip] {
    display: inline-block;
    margin: 50px 20px;
    width: auto;
    height: 50px;
    border: 1px solid gray;
    border-radius: 5px;
    line-height: 50px;

  }
  .ng-tooltip {
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    color: #f8f8f2;
    padding: 3px 8px;
    background: #051125;
    border-radius: 4px;
    z-index: 1000;
    opacity: 0;
  }
  .ng-tooltip:after {
    content: "";
    position: absolute;
    border-style: solid;
  }
  .ng-tooltip-top:after {
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: black transparent transparent transparent;
  }
  .ng-tooltip-bottom:after {
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: transparent transparent black transparent;
  }
  .ng-tooltip-left:after {
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent transparent transparent black;
  }
  .ng-tooltip-right:after {
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent black transparent transparent;
  }
  .ng-tooltip-show {
    opacity: 1;
    width: auto;
  }



