<app-header></app-header>

<section class="about-me">

  <div class="row mt-5">
    <div class="col-md-5">
      <!-- Agrega tu foto aquí -->
      <img src="../../../assets/ale2.png" alt="Alejo - Entrenador" class="img-fluid">
    </div>
    <div class="col-md-7 text-center">
      <h2>¿Quién Soy?</h2>
      <h3 class="mt-5">
        No soy solo un experto en fitness, también me apasiona contagiar
        entusiasmo con un toque de humor!
      </h3>
      <p class="mt-3">
        <strong>Introducción:</strong> Soy Alejo, el cerebro (y los músculos) detrás de Club Fit. No
        solo soy un apasionado del fitness, sino también un amante de la pizza y
        un seguidor incondicional de Boca Juniors. ¿Listo para conocerme un poco
        más? ¡Vamos allá!
      </p>
      <p>
        <strong>Educación y Experiencia:</strong> Con la humildad de un principiante que nunca
        subestima la importancia del aprendizaje continuo, poseo una base sólida
        como Técnico Superior en Actividad Física y Deportes y estoy en el camino
        hacia la Licenciatura en Educación Física y Deporte. Mi título de Entrenador
        Personal IFBB (No 24745) es el resultado de dedicación y pasión por
        mejorar constantemente. Desde especializaciones en Kettlebell hasta mi
        certificación como Certified Power Coach, mi objetivo es compartir
        conocimientos con un toque de humor, haciendo que el fitness sea
        accesible y ameno para todos.
      </p>
      <p>
        <strong>Filosofía de Entrenamiento:</strong> Mi filosofía es simple pero efectiva: el
        entrenamiento para la estética y la salud deben ir de la mano, al igual que
        una pizza y un partido de Boca. Creo en la dieta flexible (80/20), la
        adaptabilidad en cualquier espacio y la capacidad de motivar en
        constantemente para que mis clientes cumplan sus objetivos.
      </p>
      <p>
        <strong>Logros:</strong>A lo largo de mi carrera, he logrado transformar más
        cuerpos que memes tiene internet. He esculpido más figuras que el
        mismísimo Michelangelo (bueno, en el mundo del músculo). Desde los
        rincones más secretos de los gimnasios hasta las pantallas de los
        dispositivos, he dejado mi huella en el mundo del fitness y más allá. Mis
        lecciones no solo resuenan en las salas de musculación, sino que también
        he compartido mis conocimientos de manera presencial, dictando
        capacitaciones y asesorías para entusiastas del fitness y colegas en
        Argentina, Uruguay y Paraguay. ¿Quién dijo que el humor y los
        abdominales no pueden ir de la mano?
      </p>
      <p>
        <strong>Misión:</strong> Mi misión va más allá de esculpir cuerpos; quiero desmitificar la
        información fitness con humor y ayudarte a alcanzar tus objetivos de
        manera sostenible. La risa y el entrenamiento van de la mano en Club FIT.
      </p>
      <p>
        <strong>Datos Curiosos:</strong> Aparte de mi amor por la pizza y Boca, soy un devorador
        de audiolibros, tengo un podcast en Spotify y YouTube, y escribo tanto
        como entreno. Mi comida favorita es la pizza (¡sí, otra vez!), y mi filosofía
        de autocuidado incluye rutinas de skin care y cuidado de la barba.
      </p>
      <p>
        <strong>Conclusión:</strong> Entrenar conmigo no solo significa levantar pesas y hacer
        cardio; significa tener a alguien que te motive con risas, te guíe con
        conocimientos respaldados por la ciencia y, de vez en cuando, comparta
        una porción de pizza mental.
        ¡Unite a Club Fit y descubrí que el fitness puede ser divertido, efectivo y
        lleno de buen humor!
      </p>

    </div>
  </div>


</section>

<!--SECTION NOPE-->
<section class="mb-5">
  
  <div class="row d-flex">

    <div class="nope col-xl-2 col-lg-8 col-md-8 col-sm-8 col-8 d-flex align-items-center justify-content-center">

        Los carbohidratos son el enemigo
    </div>
    <div class="nope col-xl-2 col-lg-8 col-md-8 col-sm-8 col-8 d-flex align-items-center justify-content-center">
    Tenes que cortar con el azucar
    </div>
    <div class="nope col-xl-2 col-lg-8 col-md-8 col-sm-8 col-8 d-flex align-items-center justify-content-center">
    El ayuno quema grasa
    </div>
    
    <div class="nope col-xl-2 col-lg-8 col-md-8 col-sm-8 col-8 d-flex align-items-center justify-content-center">
    La fruta engorda
    </div>
    
    <div class="nope col-xl-2 col-lg-8 col-md-8 col-sm-8 col-8 d-flex align-items-center justify-content-center">
    Necesitas tomar suplementos
    </div>     
</div> 
</section>

<!--SECTION ARE YOU READY-->
<app-areyouready></app-areyouready>

<app-footer [footer]="2"></app-footer>